#content {
  background: rgb(247, 243, 243);
}

.ui.fluid.container,
.ui.special.cards  {
  padding-right: 10px;
  padding-left: 10px;
  margin: 15px;
}

.ui.container.content {
  margin: 30px;
}

.ui.segment.article {
  padding: 20px;
}

.ui.accordion .content p {
  padding-right: 10px;
  padding-left: 20px;
}

.ui.table .cell {
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui.dimmer.page p {
  color: black;
}

.ui.dimmer.page .icon {
  color: black;
}
