.footer.segment {
  padding: 10px;
}

.footer .ui.header {
  font-size: 15px;
}

.footer .ui.list {
  font-size: 10px;
}

.footer .ui.container {
  margin-top: 0px;
  margin-bottom: 0px;
}

.footer .content {
  margin-top: 20px;
  margin-bottom: 30px;
}

.ui.container.namelist {
  margin-top: 20px;
  margin-bottom: 20px;
}
