@font-face {
  font-family: 'SentyGoldenBell';
  src: url('../font/SentyGoldenBell.otf');
}

@font-face {
  font-family: 'LiHei Pro';
  src: url('../font/LiHei.ttf');
}

body,
.ui.header,
.ui.card>.content>.header, .ui.cards>.card>.content>.header,
.ui.accordion .title:not(.ui),
.ui.button {
  font-weight: bold;
  font-family: 'LiHei Pro';
}

.menubutton {
  font-family: 'SentyGoldenBell';
}

body.pushable>.pusher {
  background-color: #1b1c1d;
}
